<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a router-link="bussines/create" class="nav-link" rounterLinkActivate="activate">
      Create Bussines
      </a>

    </li>

    <li class="nav-item">
        <a router-link="bussines" class="nav-link" rounterLinkActivate="activate">
          Bussines</a>
    

    </li>


    </ul>

  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>